.button {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-font-family:"Helvetica";
    -fx-font-size: 1.5em; /* 12 */
    -fx-text-fill: #FFFFFF;
}

.button:hover {
    -fx-background-color: #f7eb47;
}

.text-area {
    -fx-background-color: transparent;
    -fx-background-insets: -0.4, 1, 2;
    -fx-background-radius: 3.4, 2, 2;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-font-size: 1.2em; /* 12 */
    -fx-font-family:"Helvetica";
}

.hbox {
    -fx-background-color: #ede144;
}

.text-area .content {
    -fx-background-color: #ffffce;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-bar .increment-button {
    visibility: hidden;
}

.text-area .scroll-bar .decrement-button {
    visibility: hidden;
}

.text-area .scroll-bar:vertical {
    -fx-background-color: transparent;
}

.text-area .scroll-bar:vertical .track-background {
    visibility: hidden;
}

.text-area .scroll-bar:vertical .track {
    visibility: hidden;
}

.text-area .hide-thumb .scroll-bar:vertical .thumb {
    -fx-background-color: transparent;
}

.ttip{
    -fx-background-color: #fff57a;
    -fx-text-fill: #262626;
    -fx-font-size: 0.95em;
    -fx-background-radius: 0 0 0 0;
    -fx-opacity: 0.7;
}

